
<div class="row-fluid">
  <ul class="inline">
    <li class="footerli"><a href="/IndianRoommates/" class="footerlinks">Terms</a></li>
    <li class="footerli"> <a href="/IndianRoommates/" class="footerlinks">Help</a></li>
    <li class="footerli"> <a href="/IndianRoommates/" class="footerlinks">ContactUs</a></li>
    <li class="footerli"><a href="/IndianRoommates/" class="footerlinks">Advertising</a></li>
    <li class="footerli"><a href="/IndianRoommates/" class="footerlinks">Support</a></li>
    <li class="footerli"><a href="/IndianRoommates/" class="footerlinks">About</a></li>
  </ul>
</div>