extends ../layouts/default

block main
  //- h1= title

  .row-fluid.span12
  h1.maroon Welcome to IndiaDilse!
  p.homepara  Serving Indian community Worldwide!

block content

  ul
  li
    p.muted
      a(href="/articles/") Apartments/ housing for rent
  li
    p.muted
      a(href="/IndianRoommates/") Buy/Sell House
  li
    p.muted
      a(href="/IndianRoommates/") Rooms for share
  li
    p.muted
      a(href="/IndianRoommates/") Nany/Child Care/ Baby Sitter
  li
    p.muted
    a(href="/IndianRoommates/") Wdding Planners/ Decorators
  li
    p.muted
    a(href="/IndianRoommates/") Doctors

  li
    p.muted
    a(href="/IndianRoommates/") Catering

    p.muted
    a(href="/IndianRoommates/") Jobs employers

    p.muted
    a(href="/IndianRoommates/") Jobs employers

    p.muted
    a(href="/IndianRoommates/") Events Donations

    p ------------------------

